* {
  margin: 0;
  padding: 0;
  border: none;

  font-family: "Poppins", sans-serif;
}
.todo-container {
  background-color: #e7e7e7;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.todo-container > input,
.todo-container > button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.todo-container > button {
  background-color: rgb(162, 162, 238);
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
}
.todo-container > button:hover {
  background-color: blue;
}
.todo-container > input:focus {
  outline: none;
}
body {
  background-color: #2b2f34;
}
.todo-item-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
}
.todo-item {
  background-color: #505862;
  padding: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 80px;
  border-radius: 10px;
}
.todo-item > button {
  background-color: transparent;
  cursor: pointer;
}
.material-icons {
  font-size: 30px !important;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
